@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  padding: 8rem 2rem;
  font-family: Quicksand;
}
body section {
  padding-bottom: 2rem;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #351499;
  color: #fff;
}
header .nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
header nav img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}