// import google font
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$primary-bg: #fff;
$secondary-bg: #351499;
$cta-color: #8664eb;
$primary-font-color: #fff;
$secondary-font-color: #351499;

$lg-padding: 2rem;
$md-padding: 1.5rem;
$sm-padding: 1rem;
$xs-padding: 0.5rem;

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  padding: calc(4.5 * $lg-padding) $lg-padding;
  font-family: Quicksand;
  // padding: $lg-padding;
  section {
    padding-bottom: $lg-padding;
  }
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding: $lg-padding;
  justify-content: space-between;
  background-color: $secondary-bg;
  color: $primary-bg;
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.2);
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $lg-padding;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: $lg-padding;
    ul {
      display: flex;
      justify-content: space-between;
      gap: $lg-padding;
    }
  }
}

section {
}
.about {
  background-color: red;
  display: flex;
  .about-img {
    width: 50%;
  }
  .about-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about-text {
      width: 70%;
    }
  }
}
ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}
